@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #bf0603;
  --color-secondary: #4361ee;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #bf0603;
  --color-secondary: #4361ee;

  --color-base-100: #000000;
  --color-base-content: #ffffff;
}
