@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #bf0603;
  /* --color-secondary: #4361ee; */


  --color-base-100: #edf2f4;

  

}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #bf0603;
  /* --color-secondary: #4361ee; */

  --color-base-100: #333333;
  --color-base-200: #000000;
  /* --color-base-100: #4a4a4a; */
  --color-base-content: #ffffff;
}

.btns {
  @apply btn btn-primary;
}

body {
  font-family: "Poppins", sans-serif;
}

.active {
  @apply bg-primary px-4 py-1 rounded-xl text-white
}

.hover {
  @apply outline-primary
}
.goth {
  font-family: "Science Gothic", sans-serif;
}

.heading {
  @apply font-semibold text-2xl 
}